<?xml version="1.0"?>
<robot name="ambiente_sim" xmlns:xacro="http://ros.org/wiki/xacro">
    
  <xacro:arg name="camera_visual" default="true"/>
  
  <gazebo reference="green_1_circle_link">
    <material>Gazebo/Green</material>
  </gazebo>
  
  <gazebo reference="green_2_circle_link">
    <material>Gazebo/Green</material>
  </gazebo>
  
  <gazebo reference="green_3_circle_link">
    <material>Gazebo/Green</material>
  </gazebo>
  
    <!--link : https://www.raspberrypi.org/documentation/hardware/camera/
  ###################AJUSTAR FOV E DIMESOES AQUI#########################-->
  <gazebo reference="camera_rgb_frame">
    <sensor type="camera" name="Pi Camera">
      <always_on>true</always_on>
      <visualize>$(arg camera_visual)</visualize>
      <camera>
          <horizontal_fov>1.085595</horizontal_fov>
          <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
          </image>
          <clip>
              <near>0.03</near>
              <far>100</far>
          </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>my_camera</cameraName>
        <frameName>camera_rgb_optical_frame</frameName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  
</robot>
