<?xml version="1.0"?>
<robot name="ambiente" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:include filename="$(find turtlebot3_description)/urdf/ambiente.gazebo.xacro"/>

  
 <link name="map"/>
  
 <joint name="green_1_circle_joint" type="fixed">
    <parent link="map"/>
    <child link="green_1_circle_link"/>
    <origin xyz="1.0 0.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="green_1_circle_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/circle.stl" scale="0.05 0.05 0.05"/>
      </geometry>
      <material name="green"/>
    </visual>
    
    <collision>
      <origin xyz="-0.032 0 0.070" rpy="0 0 0"/>
      <geometry>
        <box size="0.140 0.140 0.143"/>
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.005" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  </link>

  <joint name="green_2_circle_joint" type="fixed">
    <parent link="map"/>
    <child link="green_2_circle_link"/>
    <origin xyz="0.0 1.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="green_2_circle_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/circle.stl" scale="0.05 0.05 0.05"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  
  <joint name="green_3_circle_joint" type="fixed">
    <parent link="map"/>
    <child link="green_3_circle_link"/>
    <origin xyz="1.0 1.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="green_3_circle_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/circle.stl" scale="0.05 0.05 0.05"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  
  <joint name="camera_roof_joint" type="fixed">
    <parent link="map"/>
    <child link="camera_roof_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>
  <link name="camera_roof_link"/>

<!--###################AJUSTAR POSICAO AQUI#########################-->
  <joint name="camera_rgb_joint" type="fixed">
    <origin xyz="0 0 2.5" rpy="0 1.57 0"/>
    <parent link="camera_roof_link"/>
    <child link="camera_rgb_frame"/>
  </joint>
  <link name="camera_rgb_frame"/>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
  </joint>
  <link name="camera_rgb_optical_frame"/>
  
</robot>
